---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountBalance","params":["7zio4a4zAQz5cBS2Ah4WsHVCexQ2bt76ByiEjL3h8m1p"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":87139018},"value":{"amount":"0","decimals":9,"uiAmount":0.0,"uiAmountString":"0"}},"id":1}

'
  recorded_at: Thu, 15 Jul 2021 11:14:34 GMT
recorded_with: VCR 6.0.0
