---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getClusterNodes"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"featureSet":743297851,"gossip":"65.21.122.119:8001","pubkey":"8SQEcP4FaYQySktNQeyxF3w8pvArx3oMEh7fPrzkN9pu","rpc":null,"shredVersion":18122,"tpu":"65.21.122.119:8004","version":"1.7.3"},{"featureSet":743297851,"gossip":"178.170.46.49:8000","pubkey":"FJMCiuiBEbKum7cLx7pqi1xWeNbpUuPJBKUeiBTkxLdg","rpc":"178.170.46.49:8899","shredVersion":18122,"tpu":"178.170.46.49:8003","version":"1.7.3"},{"featureSet":743297851,"gossip":"178.170.40.103:8001","pubkey":"8igp2RrQ1F4drmXGpV8qNyJL25Aom31jAGJ55avPZLc7","rpc":"178.170.40.103:8899","shredVersion":18122,"tpu":"178.170.40.103:8004","version":"1.7.3"},{"featureSet":3097519246,"gossip":"89.163.145.88:8001","pubkey":"AkkJv1meyo2Ax2X[...]
