---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getRecentBlockhash"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":83055428},"value":{"blockhash":"6M1AMekz95Y3c5UjHq9GkEs6YX1BEJrB4vxcoHjjMJuF","feeCalculator":{"lamportsPerSignature":5000}}},"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 15:00:55 GMT
recorded_with: VCR 6.0.0
