---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getProgramAccounts","params":["3XE9NQAN6yiKvNedR5msnvdLN6HEdUfqyn4yWoEYYEcW",{"encoding":"base64","dataSlice":{"offset":1,"length":1},"filters":[{"dataSize":2},{"memcmp":{"offset":4,"bytes":"3Mc6vR"}}],"withContext":true}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":83054419},"value":[]},"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 14:50:27 GMT
recorded_with: VCR 6.0.0
