---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getFees"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":82383778},"value":{"blockhash":"5ENJWYp5X6zrAnhBZmZhLKaoWyr2cHXAB24UMVYemBnb","feeCalculator":{"lamportsPerSignature":5000},"lastValidBlockHeight":68111306,"lastValidSlot":82384078}},"id":1}

        '
  recorded_at: Fri, 25 Jun 2021 15:32:07 GMT
recorded_with: VCR 6.0.0
