---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountBalance","params":["71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32602,"message":"Invalid param: not
        a v2.0 Token account"},"id":1}

        '
  recorded_at: Thu, 01 Jul 2021 11:47:43 GMT
recorded_with: VCR 6.0.0
