---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getInflationReward","params":[["CX1QZWh9rJnJ6H6XNxyjBqEPDxhA7gENWVcToHvgLqb4","79psA5PwDrjeHgZgiBBAqwuG5NsNWsHQapigxFPpsgEZ"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"amount":58625515732,"effectiveSlot":82604257,"epoch":203,"postBalance":3521208340839},null],"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 09:34:17 GMT
recorded_with: VCR 6.0.0
