---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getAccountInfo","params":["71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B",{"encoding":"jsonParsed"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":85054989},"value":{"data":["","base64"],"executable":false,"lamports":20949230980019350,"owner":"11111111111111111111111111111111","rentEpoch":209}},"id":1}

'
  recorded_at: Thu, 15 Jul 2021 15:06:31 GMT
recorded_with: VCR 6.0.0
