---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getProgramAccounts","params":["Vote111111111111111111111111111111111111111",{"dataSlice":{"offset":1,"length":1},"withContext":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"account":{"data":"1","executable":false,"lamports":5727240833532,"owner":"Vote111111111111111111111111111111111111111","rentEpoch":209},"pubkey":"EgAMJyV3eyz8653khMpBmr2Y2EngRsTm2eCxi5qBaGAv"},{"account":{"data":"1","executable":false,"lamports":26858640,"owner":"Vote111111111111111111111111111111111111111","rentEpoch":208},"pubkey":"H7XNputDaqv7ULJ8RGjjU9dGGieFfdFSCpzofajQPASA"},{"account":{"data":"1","executable":false,"lamports":767049278556,"owner":"Vote111111111111111111111111111111111111111","rentEpoch":209},"pubkey":"57FPWd5YujVUooeo3rvLn9MeC4DkddLf4NnTcUTMonxT"},{"account":{"data":"1","executable":false,"lamports":663601244211,"o[...]
