---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getLeaderSchedule"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"121cur1YFVPZSoKQGNyjNr9sZZRa3eX2bSuYjXHtKD6":[6688,6689,6690,6691,9472,9473,9474,9475,48996,48997,48998,48999,52352,52353,52354,52355,54292,54293,54294,54295,64408,64409,64410,64411,104004,104005,104006,104007,121356,121357,121358,121359,121380,121381,121382,121383,146876,146877,146878,146879,150008,150009,150010,150011,158464,158465,158466,158467,165916,165917,165918,165919,167184,167185,167186,167187,176416,176417,176418,176419,188644,188645,188646,188647,189352,189353,189354,189355,192352,1[...]
