---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":98438,"method":"getTokenSupply","params":["4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":115908012},"value":{"amount":"555000000000000","decimals":6,"uiAmount":555000000.0,"uiAmountString":"555000000"}},"id":98438}

'
  recorded_at: Wed, 12 Jan 2022 12:21:59 GMT
recorded_with: VCR 6.0.0
