---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountsByOwner","params":["122FAHxVFQDQjzgSBSNUmLJXJxG4ooUwLdYvgf3ASs2K",{"mint":"4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"},{"commitment":"finalized","encoding":"base58","dataSlice":{"offset":10,"length":3}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":87149968},"value":[{"account":{"data":["26Qf2","base58"],"executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":200},"pubkey":"J3Rknuc3CjskKE4H1BUmRFtGffpsWFT1NSPevxWqLCx1"}]},"id":1}

'
  recorded_at: Thu, 15 Jul 2021 13:09:26 GMT
recorded_with: VCR 6.0.0
