---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getProgramAccounts","params":["9uV8rBceE4L5MPaZjHtgM1j3vgeasYvbpjHc1k44zai1",{"withContext":null}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[],"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 14:52:50 GMT
recorded_with: VCR 6.0.0
