---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo","params":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":81852457,"blockHeight":67730579,"epoch":202,"slotIndex":112201,"slotsInEpoch":432000,"transactionCount":25644806326},"id":1}

        '
  recorded_at: Mon, 21 Jun 2021 14:11:42 GMT
recorded_with: VCR 6.0.0
