---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getFeeCalculatorForBlockhash","params":["5ENJWYp5X6zrAnhBZmZhLKaoWyr2cHXAB24UMVYemBnb"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":82383838},"value":{"feeCalculator":{"lamportsPerSignature":5000}}},"id":1}

        '
  recorded_at: Fri, 25 Jun 2021 15:32:33 GMT
recorded_with: VCR 6.0.0
