---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlocksWithLimit","params":[5,100]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[39368303,39368304,39368305,39368306,39368307,39368308,39368316,39368317,39368318,39368319,39368320,39368321,39368322,39368323,39368324,39368325,39368326,39368327,39368328,39368329,39368330,39368331,39368332,39368333,39368334,39368335,39368336,39368337,39368338,39368339,39368340,39368341,39368342,39368343,39368344,39368345,39368346,39368347,39368348,39368349,39368350,39368351,39368356,39368357,39368358,39368359,39368360,39368361,39368362,39368363,39368364,39368365,39368366,39368367,39368368,39368369,39368370,39368371,39368376,39368377,39368378,39368379,39368380,39368381,39368382,39368383,39368384,39368385,39368386,39368387,39368388,39368389,39368390,39368391,39368392,39368393,39368394,39368395,39368396,39368401,39368402,39368403,39368404,39368405,39368406,39368407,39368408,39368409,39368410,39368411,39368412,39368413,39368414,39368415,39368416,39368417,39368418,39368419,39368420,39368425],"id":1}

        '
  recorded_at: Fri, 25 Jun 2021 14:55:02 GMT
recorded_with: VCR 6.0.0
