---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getRecentPerformanceSamples"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"numSlots":93,"numTransactions":73456,"samplePeriodSecs":60,"slot":83055946},{"numSlots":80,"numTransactions":88389,"samplePeriodSecs":60,"slot":83055853},{"numSlots":89,"numTransactions":82156,"samplePeriodSecs":60,"slot":83055773},{"numSlots":95,"numTransactions":70631,"samplePeriodSecs":60,"slot":83055684},{"numSlots":90,"numTransactions":85765,"samplePeriodSecs":60,"slot":83055589},{"numSlots":95,"numTransactions":75604,"samplePeriodSecs":60,"slot":83055499},{"numSlots":87,"numTransactions":79404,"samplePeriodSecs":60,"slot":83055404},{"numSlots":93,"numTra[...]
