---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountsByDelegate","params":["7nJGERf1LZpjn4uTfcDZLJ6YRtvdSExAB9uK851zT6do",{"mint":"4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":87148116},"value":[]},"id":1}

'
  recorded_at: Thu, 15 Jul 2021 12:50:03 GMT
recorded_with: VCR 6.0.0
