---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlockProduction","params":[{"identity":"123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY","range":{"firstSlot":82300907,"lastSlot":82360969}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":82366849},"value":{"byIdentity":{"123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY":[28,18]},"range":{"firstSlot":82300907,"lastSlot":82360969}}},"id":1}

        '
  recorded_at: Fri, 25 Jun 2021 12:31:18 GMT
recorded_with: VCR 6.0.0
