---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getSignaturesForAddress","params":["8oz37poDhVBdUPcHDVFc7ChoS7yA1E1hMFp5tgaB1m7N",{"limit":1}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"blockTime":1624651458,"confirmationStatus":"finalized","err":null,"memo":null,"signature":"aLoUEJQHE3JBocPVEdKZ1JUKW89FpRutf9qsTwAAkGPfuVkFL9HfSvhRuYD31Ui1U5C5vgqmuddn2pvByo5g8E8","slot":83027168}],"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 15:23:16 GMT
recorded_with: VCR 6.0.0
