---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":29760,"method":"getHighestSnapshotSlot"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"full":112553558,"incremental":null},"id":29760}

'
  recorded_at: Wed, 12 Jan 2022 11:11:40 GMT
recorded_with: VCR 6.0.0
