---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getSlotLeaders","params":[82507366,10]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["92h9nfYrehDW47mwHsjvGZQAsBikFrhhALp1XxzXo7rD","92h9nfYrehDW47mwHsjvGZQAsBikFrhhALp1XxzXo7rD","5saC4V5Kk7Xr5zUUbQZHfXCrzFWyW9Lvjq97N9ydX5nj","5saC4V5Kk7Xr5zUUbQZHfXCrzFWyW9Lvjq97N9ydX5nj","5saC4V5Kk7Xr5zUUbQZHfXCrzFWyW9Lvjq97N9ydX5nj","5saC4V5Kk7Xr5zUUbQZHfXCrzFWyW9Lvjq97N9ydX5nj","D8goKEZAXaWCfVSFbGKZQtFn3B5XFdLLmJgUSgMjEJf7","D8goKEZAXaWCfVSFbGKZQtFn3B5XFdLLmJgUSgMjEJf7","D8goKEZAXaWCfVSFbGKZQtFn3B5XFdLLmJgUSgMjEJf7","D8goKEZAXaWCfVSFbGKZQtFn3B5XFdLLmJgUSgMjEJf7"],"id":1}

        '
  recorded_at: Thu, 01 Jul 2021 10:27:44 GMT
recorded_with: VCR 6.0.0
