---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo","params":[{"commitment":"confirmed"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":81981060,"blockHeight":67823574,"epoch":202,"slotIndex":240804,"slotsInEpoch":432000,"transactionCount":25746869785},"id":1}

        '
  recorded_at: Tue, 22 Jun 2021 13:47:33 GMT
recorded_with: VCR 6.0.0
