---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBalance","params":["BossttsdneANBePn2mJhooAewt3fo4aLg7enmpgMvdoH"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":82106586},"value":3999645000},"id":1}

        '
  recorded_at: Wed, 23 Jun 2021 12:50:16 GMT
recorded_with: VCR 6.0.0
