---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getLeaderSchedule","params":[{"epoch":203,"identity":"123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY":[580,581,582,583,724,725,726,727,4208,4209,4210,4211,16596,16597,16598,16599,22604,22605,22606,22607,31512,31513,31514,31515,35532,35533,35534,35535,41568,41569,41570,41571,46584,46585,46586,46587,57036,57037,57038,57039,59484,59485,59486,59487,66420,66421,66422,66423,75944,75945,75946,75947,84928,84929,84930,84931,90900,90901,90902,90903,92260,92261,92262,92263,98716,98717,98718,98719,119216,119217,119218,119219,121272,121273,121274,121275,140584,[...]
