---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getSupply"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":83171180},"value":{"circulating":1368798056604264695,"nonCirculating":154690270000000,"nonCirculatingAccounts":["7xJ9CLtEAcEShw9kW2gSoZkRWL566Dg12cvgzANJwbTr","GpxpMVhrBBBEYbEJxdR62w3daWz444V7m6dxYDZKH77D","E6HM7ny8AAY28Q8Za9RyrX7x1MyEdDkaXYFGUwoy4kM2","5qC7uu1gHgJ4f2c6PixtYRxkzdZWR24DWcVGQR2BpBhj","CVgyXrbEd1ctEuvq11QdpnCQVnPit8NLdhyqXQHLprM2","GvpCiTgq9dmEeojCDBivoLoZqc4AkbUDACpqPMwYLWKh","Ga7HnuewhNo3htQxy6mgs2oM6WxuZpA9hJCnBhP75J8o","GumSE5HsMV5HCwBTv2D2D81yy9x17aDkvobkqAfTRgmo","5smrYwb1Hr2T8XMnvsqccTgXxuqQs14iuE8RbHFYf2Cf","DbF5Cmc4A8gSVaLCxurLoRZE93K164xF4Mjcqqe1xsHk","7Y8smnoUrYKGGuDq2uaFKVxJYhoj[...]
