---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[50000000]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":null,"blockTime":1606682139,"blockhash":"AwJaDBHMjwPzNwqYWuVfmVj57i8Us6qHcoM7nR64GFbX","parentSlot":49999999,"previousBlockhash":"AMcQfqHFW9FFAVfYEgUJFouGDX2p1v8tyTyMMK2rtd9E","rewards":[{"lamports":1130000,"postBalance":441767448339,"pubkey":"BYxEvmSwA1o3vJGhooJoReSjrzou8A9h1TZX9S4xomHP","rewardType":"Fee"},{"lamports":196,"postBalance":76395056136931,"pubkey":"z3roU4WgvZvYkAEAYmUGK4LkPK6qFii6uzgMAswGYjb","rewardType":"Rent"},{"lamports":163,"postBalance":653925767437,"pubkey":"3iPu9xQ3mCFmqME9ZajuZbFHjwagAxhgfTxnc4pWbEBC","rewardType":"Rent"},{"lamports":161,"postBalance":556879685607,"pubkey":"5Mbpdczvb4nSC33AWXmh6wmDxSZpGRANNcZypdPSGv9y","rewardType":"Rent"},{"lamports":157,"postBalance":519908063899,"pubkey":"8SQEcP4FaYQySktNQeyxF3w8pvArx3oMEh7fPrzkN9pu","rewardType":"Rent"},{"lamports":[...]
