---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo","params":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":81858689,"blockHeight":67735186,"epoch":202,"slotIndex":118433,"slotsInEpoch":432000,"transactionCount":25649833512},"id":1}

        '
  recorded_at: Mon, 21 Jun 2021 15:20:21 GMT
recorded_with: VCR 6.0.0
