---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenLargestAccounts","params":["4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":87150405},"value":[{"address":"fArUAncZwVbMimiWv5cPUfFsapdLd8QMXZE4VXqFagR","amount":"176769990000046","decimals":6,"uiAmount":176769990.000046,"uiAmountString":"176769990.000046"},{"address":"DmKR61BQk5zJTNCK9rrt8fM8HrDH6DSdE3Rt7sXKoAKb","amount":"166500000000000","decimals":6,"uiAmount":166500000.0,"uiAmountString":"166500000"},{"address":"HoVhs7NAzcAaavr2tc2aaTynJ6kwhdfC2B2Z7EthKpeo","amount":"111000000000000","decimals":6,"uiAmount":111000000.0,"uiAmountString":"111000000"},{"address":"HuBBhoS81jyHTKMbhz8B3iYa8HSNShnRwXRzPzmFFuFr","amount":"26957142860000","decimals":6,"uiAmount":26957142.86,"uiAmountString":"26957142.86"},{"address":"8tnpAECxAT9nHB[...]
