---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getStakeActivation","params":["BbeCzMU39ceqSgQoNs9c1j2zes7kNcygew8MEjEBvzuY"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"active":79529161339,"inactive":0,"state":"active"},"id":1}

        '
  recorded_at: Thu, 01 Jul 2021 10:55:00 GMT
recorded_with: VCR 6.0.0
