---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getVoteAccounts","params":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"current":[{"activatedStake":45239332995339,"commission":100,"epochCredits":[[198,1069234,893438],[199,1243745,1069234],[200,1419552,1243745],[201,1589170,1419552],[202,1636694,1589170]],"epochVoteAccount":true,"lastVote":81856591,"nodePubkey":"FVD3oRjHRyDsGTwisgZrZPV6vbbRvkgx8hm6ctmBG1Ne","rootSlot":81856504,"votePubkey":"CZVUMA5W21V5VdtNV5R22FQr3MuCixcPr5j3pZYH8bdu"},{"activatedStake":45395827919149,"commission":100,"epochCredits":[[198,34078734,33902064],[199,34253586,34078734],[200,34429587,34253586],[201,34598522,34429587],[202,34645664,34598522]],"epochVoteAccount":true,"lastVote":81856715,"nodePubkey":"Hu7DW7BoXXuKbwaFJaAMEXpBv8pqBJPhfThMD96WHiJR","rootSlot":81856546,"votePubkey":"AQxWAUTJH4b7JEngTXTT1CDUAFWMvHveeFFbTswRHbTr"},{"activatedStake":44670958812589,"commission":100,"epochCredits":[[198,9611428,9[...]
