---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getInflationRate"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"epoch":204,"foundation":0.0,"total":0.1406902625026958,"validator":0.1406902625026958},"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 09:04:15 GMT
recorded_with: VCR 6.0.0
