---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getMultipleAccounts","params":[["CX1QZWh9rJnJ6H6XNxyjBqEPDxhA7gENWVcToHvgLqb4","ConnvAV6R69HQpSPEi82XW9SJzRDrijg9VuJHCscrMKY"],{"encoding":"base64","dataSlice":{"offset":5,"length":1}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":83035488},"value":[{"data":["Rg==","base64"],"executable":false,"lamports":3521208340839,"owner":"Vote111111111111111111111111111111111111111","rentEpoch":204},{"data":["AQ==","base64"],"executable":false,"lamports":108210555413508,"owner":"Vote111111111111111111111111111111111111111","rentEpoch":204}]},"id":1}

        '
  recorded_at: Wed, 30 Jun 2021 11:31:57 GMT
recorded_with: VCR 6.0.0
