---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":52057,"method":"isBlockhashValid","params":["ERoYQz1Wo9XoUyENaNAb1s21AJoCGMjwvwDZuuJ1LCiw"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":112564333},"value":false},"id":52057}

'
  recorded_at: Wed, 12 Jan 2022 12:41:08 GMT
recorded_with: VCR 6.0.0
